.left-side, .right-side{
    display: inline-block;
    padding: 50px;
    margin: auto;
    height: 300px;
    vertical-align: top;
    width: 100px;
    border: solid 1px black;
    margin: 10px;
}
.button-bar{
    display: inline-block;
    margin-top: 150px;
}
.select{
    width: 100px;
    border: solid 0 black!important;
}

label{
    display: block;
}

.item{
    margin-bottom: 10px;
}
button{
    display: list-item;
    margin: auto;
    margin-bottom: 10px;
}